ul.blog-types {
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog p.blog-info {
    margin-top: 0;
}
div.paginator {
    text-align: center;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 2em;
}
div.blog-content{
    text-indent: 2em;
}
div.blog-more {
    margin-top: 1em;
}