{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站 | 我的消息
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'my_notifications.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul>
                    {% for notification in request.user.notifications.all %}
                        <li>[{{ notification.timesince }}之前]，{{ notification.verb }}</li>
                    {% empty %}
                        <li>暂无消息</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}